@import "~bootstrap/scss/bootstrap";

header {
    margin: auto;
    width: 1200px;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 4rem;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
    }
}